* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Padauk', sans-serif;
    background-color: #232325;

}

/* --- WAVES ------------*/

#wave-up {
    width: 120vw;
    position: absolute;
    bottom: 0;
}

#wave-down {
    width: 100vw;
    position: absolute;
    top: 0;
}



/* ------ INTRO --------- */

.intro {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to top, #232325, #add8f6);
    position: relative;
}

a {
    text-decoration: none;
    color: #fff;
}

h1 {
    color: #fff;
    font-size: 5rem;
    text-shadow: 0 0 2px #000;
    z-index: 99;
}

span {
    font-size: 2.75rem;
}

.span-holder {
            margin-bottom: 25vh;
        }


@media (max-width: 800px) {

    h1 {
        font-size: 2.5rem;
    }

    span {
        font-size: 1.25rem;
    } 

    #wave-up {
     width: 300vw
    }
    
    #wave-down {
        width: 250vw;
    }
    

}

@media (max-width: 375px) {
    #navbar a {
        font-size: .3em;
        bottom: 0;
    }

}


.fade-one {
    opacity: 0;
    transition: all ease-in 750ms;
}

.fade-two {
    opacity: 0;
    transition: all ease-in 750ms;
}

.fade-three {
    opacity: 0;
    transition: all ease-in 750ms;
}

@media (max-width: 375px) {
    .intro span {
        font-size: .4em;
    }

    .contact {
        font-size: .5em;
    }
}


/* ------- PORT ------*/

#projects {
    height: 0px;
    width: 100%;
}


.left-port {
    position: sticky;
    top: 50px;
    float: left;
    width: 35%;
    height: 1px;
    color: #fff;
    background-color: #232325; 
    font-size: 2.5rem;
    text-shadow: 0 0 2px #000;
}

.blob-contain {
    position: relative;
}

.project-left-title {
    position: absolute;
    z-index: 5;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}

#blob {
    animation-name: blob;
    animation-iteration-count: infinite;
    animation-duration: 20000ms;
    animation-timing-function: linear;
    transform: rotate(0deg);
}

@keyframes blob {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

.right-port {
    width: 60%;
    height: auto;
    float: right;
}


.port img   {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    object-position: center;
}

#project-title {
    height: 50px;
    width: 100%;
    background-color: #232325;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.5rem;
}

#project-title span {
    font-size: 2rem;
    color: #232325;
    transition: all ease-in-out 500ms;
}

.port:hover span {
    color: #add8e6 !important;
}

#typewriter {
    margin: 0em 0em;
    padding: 0;
    animation-name: type;
    animation-duration: 750ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes type {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (max-width: 800px) {

   #project-title {
       font-size: .75em;
   }

   .project-left-title {
       font-size: .6em;
   }

   #project-title span {
    color: #add8e6;
    font-size: 1rem;
   }

   #typewriter {
       display: none;
   }

}
@media (max-width: 700px) {
    .project-contain{
        height: 150px;
        width: 150px;
    }
}

/* ------- CONTACT ------ */

.contact {
    height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom, #232325, #add8f6);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-shadow: 0 0 2px #000;
    flex-direction: column;
    position: relative;
    z-index: 1;
}

.contact div {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact h2 {
    z-index: 99;
    font-size: 5rem;
}

 
.catch-contain {
    width: 100%;
    height: 50px;
}

.catch-contain h3 {
    margin: 0em .5em 0em .25em;
    font-size: 2rem;
}


.catch-contain img {
    width: 5%;
    height: auto;
}

.contact-links {
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 35px;
}

.contact-links a {
    width: 33%;
    height: 100px;
    padding: 1em 2em;
    font-size: 1.25em;
    text-align: center;
    transition: all ease-in-out 500ms;
}

.contact-links a:hover {
    transform: translateY(-10px);
}

i {
    margin: 0.75em;
    display: block;
}

.arrow {
display: inline-block;
width: 6%;
margin: 0em .5em 0em 0em;
color: #8a1e1e;
}

@media (max-width: 800px) {

    .contact {
        height: 80vh;
    }

    .contact h2 {
        font-size: 2.5em;
    }

    .catch-contain h3 {
        font-size: 1rem;
    }

    .contact-links i {
        font-size: 1em;
        padding: .5em 0;
        display: block;
        margin: 0 auto;
    }

    .contact-links {
        margin-bottom: 2em;
        font-size: .65em;
    }
}

@media (max-width: 375px) {
    .arrow {
        margin: 0em 1em 0em 0em;
    }

    .catch-contain h3 {
        font-size: .75rem;
    }

    .project-contain {
        height:125px;
        width: 125px;
    }

    .project-contain h2 {
        font-size: .75em;
    }
}